--extra-index-url https://download.pytorch.org/whl/cu118

numpy>=1.19.1
matplotlib>=3.3.1
pillow
tqdm>=4.48.2
absl-py
pandas
torch==2.2.2
torchvision==0.17.2
pytorch-lightning
opencv-python
kornia==0.7.1
scipy==1.8.1
wandb>=0.12.10
easydict
contourpy
rospkg
pycryptodomex
gnupg